body{
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    color: white;
}
p{
    color: white;
}
a{
    color: white;
}